In [1]:
import sqlalchemy as db
import pandas as pd

In [2]:
engine = db.create_engine('sqlite:///DisasterResponse.db')

In [3]:
# Get table information
inspector = db.inspect(engine)
print(inspector.get_table_names())

['DisasterResponse']

In [4]:
pd.read_sql('SELECT * FROM DisasterResponse', con=engine.connect())

,id,related,request,offer,aid_related,medical_help,medical_products,search_and_rescue,security,military,...,aid_centers,other_infrastructure,weather_related,floods,storm,fire,earthquake,cold,other_weather,direct_report
0,2,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,7,1,0,0,1,0,0,0,0,0,...,0,0,1,0,1,0,0,0,0,0
2,8,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,9,1,1,0,1,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,12,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26211,30261,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
26212,30262,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
26213,30263,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
26214,30264,1,0,0,1,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
26215,30265,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0